{% extends 'base.html' %}

{% block title %}
заметки
{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1>Моя заметка</h1>
          <form action="/create_new_article" method="post">
        <label for="title">название</label>
        <input name="title" class="form-control" placeholder="Введите название Вашей заметки" required><br>

        <label for="text">Текст</label>
        <input name="text" class="form-control" placeholder="Введите текст вашей заметки" required><br>

        <input type="submit" class="btn btn-success" value="Отправить">
      </form>
</div>
{% endblock %}